/*
(min-width: $screen-desktop) screen width greater then the $screen-desktop
*/
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  min-height: 100vh;
  font-family: 'Hanken Grotesk', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.result-component {
  display: flex;
  border-radius: 2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 40rem;
  aspect-ratio: 16/9;
  margin-bottom: 2rem; }

.result {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  padding: 2rem 2rem;
  background: linear-gradient(to bottom, #7857ff, #2e2be9);
  border-radius: 2rem;
  color: #b1b1b4; }
  .result__heading {
    margin-bottom: 1.5rem;
    font-size: 1.2rem; }
  .result__feedback {
    margin-bottom: 1.5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 800; }
  .result__feedback-detailed {
    display: flex;
    align-self: center; }
    .result__feedback-detailed--text {
      display: flex;
      text-align: center;
      max-width: 12rem; }
  .result .score {
    height: 8rem;
    width: 8rem;
    border-radius: 100%;
    margin-bottom: 1.5rem;
    background: linear-gradient(to bottom, #4e21ca, rgba(36, 33, 202, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .result .score__final {
      color: white;
      font-size: 3rem;
      font-weight: 800; }
    .result .score__max {
      font-weight: 800; }

.summary {
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  padding: 2rem 2rem;
  font-size: 1.2rem;
  justify-content: space-between; }
  .summary__heading {
    font-size: 1.2rem;
    margin-bottom: 0.5rem; }
  .summary__details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem; }
  .summary__detail-red, .summary__detail-green, .summary__detail-blue, .summary__detail-yellow {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    margin: 0.25rem 0;
    padding: 0.5rem 1rem;
    border-radius: 5px; }
  .summary__detail-red {
    background-color: rgba(255, 87, 87, 0.1); }
    .summary__detail-red > div:first-child {
      color: #ff5757; }
  .summary__detail-yellow {
    background-color: rgba(255, 176, 31, 0.1); }
    .summary__detail-yellow > div:first-child {
      color: #ffb01f; }
  .summary__detail-green {
    background-color: rgba(0, 189, 145, 0.1); }
    .summary__detail-green > div:first-child {
      color: #00bd91; }
  .summary__detail-blue {
    background-color: rgba(17, 37, 212, 0.1); }
    .summary__detail-blue > div:first-child {
      color: #1125d4; }
  .summary__detail-topic--icon {
    padding: 0 5px; }
  .summary__detail-marks {
    display: flex; }
    .summary__detail-marks--final {
      font-weight: bold; }
    .summary__detail-marks--max {
      display: flex;
      color: #b1b1b4; }
      .summary__detail-marks--max span {
        padding: 0 5px;
        font-size: 1rem; }
  .summary__action {
    display: flex;
    justify-content: center;
    align-items: center; }

[class^='btn-'] {
  display: inline-block;
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  backface-visibility: hidden;
  cursor: pointer; }

.btn-continue {
  background: #303b5a;
  color: white; }
  .btn-continue:hover {
    background: linear-gradient(to bottom, #7857ff, #2e2be9); }

@media screen and (max-width: 1440px) {
  .result-component {
    flex-direction: column;
    width: 40%; }
  .result__feedback-detailed--text {
    font-size: 1.2rem;
    max-width: 100%; }
  .summary__details {
    margin-bottom: 1rem; }
  .summary__detail-red, .summary__detail-green, .summary__detail-blue, .summary__detail-yellow {
    margin: 0.5rem 0;
    padding: 1rem 1rem;
    border-radius: 5px; }
  .summary [class^='btn-'] {
    padding: 1rem 1rem; } }

.footer {
  order: 3;
  display: flex;
  height: 5rem;
  width: 100%;
  background: #c8c7ff;
  display: flex;
  align-items: center;
  align-self: end;
  justify-content: center; }

.attribution {
  align-self: center;
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

.header__heading {
  font-size: 4rem;
  color: transparent;
  background: linear-gradient(to bottom, #7857ff, #2e2be9);
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2); }

.component {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; }
