.footer {
	display: flex;
	height: 5rem;
	width: 100%;
	background: $color-lavender-light;
	display: flex;
	align-items: center;
	justify-content: center;
}

.attribution {
	align-self: center;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
